@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdfdfd;
    --foreground: #000000;
    --card: #fdfdfd;
    --card-foreground: #000000;
    --popover: #fcfcfc;
    --popover-foreground: #000000;
    --primary: #5e17eb;
    --primary-foreground: #ffffff;
    --secondary: #edf0f4;
    --secondary-foreground: #080808;
    --muted: #f5f5f5;
    --muted-foreground: #525252;
    --accent: #f1ebff;
    --accent-foreground: #5e17eb;
    --destructive: #e54b4f;
    --destructive-foreground: #ffffff;
    --border: #e7e7ee;
    --input: #ebebeb;
    --ring: #000000;
    --chart-1: #4ac885;
    --chart-2: #5e17eb;
    --chart-3: #fd822b;
    --chart-4: #3276e4;
    --chart-5: #747474;
    --sidebar: #f5f8fb;
    --sidebar-foreground: #000000;
    --sidebar-primary: #000000;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #ebebeb;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #ebebeb;
    --sidebar-ring: #000000;
    --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.00);
    --tracking-normal: 0em;
    --spacing: 0.27rem;
  }

  .dark {
    --background: #1a1b1e;
    --foreground: #f0f0f0;
    --card: #222327;
    --card-foreground: #f0f0f0;
    --popover: #222327;
    --popover-foreground: #f0f0f0;
    --primary: #8c5cff;
    --primary-foreground: #ffffff;
    --secondary: #2a2c33;
    --secondary-foreground: #f0f0f0;
    --muted: #2a2c33;
    --muted-foreground: #a0a0a0;
    --accent: #2a2c33;
    --accent-foreground: #e4e4e5;
    --destructive: #f87171;
    --destructive-foreground: #ffffff;
    --border: #33353a;
    --input: #33353a;
    --ring: #8c5cff;
    --chart-1: #4ade80;
    --chart-2: #8c5cff;
    --chart-3: #fca5a5;
    --chart-4: #5993f4;
    --chart-5: #a0a0a0;
    --sidebar: #161618;
    --sidebar-foreground: #f0f0f0;
    --sidebar-primary: #8c5cff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #2a2c33;
    --sidebar-accent-foreground: #8c5cff;
    --sidebar-border: #33353a;
    --sidebar-ring: #8c5cff;
    --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.00);
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}